body {
	background: #FFFFFF;
	background-image: url("images/FinalWebBkg6.png");
	padding: 3em;
}

#bodyheader {
	width:825px;
    text-align:left;
	background-color:#E6E6E6;
	border: 1px solid #009999;
    color:yellow;
    padding:2px;
}

#info{
	color:#0B3861;
    width:200px;
	float:left;
    padding:5px; 
	border: 2px solid #009999;
	background: #E6E6E6;
	font-family:"Verdana", Geneva, sans-serif;
	font-weight: bold;
}

#freespace {
    width:100px;
	float:left;
    padding:5px; 
}

#freespace2 {
    width:200px;
	height: 10px;
	float:left;
    padding:5px; 
}

#freespace3 {
    width:1200px;
	height: 10px;
	float:left;
    padding:5px; 
}

#freespace4 {
	width: 5px;
	height: 54px;
	float:left;
    padding:5px; 
}

#fb-page {
	width: 200px;
	float: left;
	}
	
#videos {
	color:#0B3861;
	text-align:center;
	width:1200px;
	float:left;
    padding:10px; 
	background: #E6E6E6;
	border: 2px solid #009999;
	font-family:"Verdana", Geneva, sans-serif;
}

#games {
	color:#0B3861;
	text-align:left;
	width:1200px;
	float:left;
    padding:10px; 
	background: #E6E6E6;
	border: 2px solid #009999;
	font-family:"Verdana", Geneva, sans-serif;
}

h1 {
text-align:center;
}

h2 {
text-align:center;
}

@media screen and (min-width:0px) and (max-width:1599px){
	#videos{
	display:normal;
	}
	#info {
	display:none;
	}
}

@media screen and (min-width:1600px) {
	#videos{
	display:normal;
	}
	#info {
	display:normal;
	}
}